body {
    background-image: url("bicycle-rider.png");
    height: 1000px;
    background-size: auto;
    background-position: center;
}

.login-page {
    width: 360px;
    height:450px;
    padding: 10% 0 0;
    margin: auto;
}

form {
    position: relative;
    background: rgba(7, 40, 195, 0.8);
    height:300px;
    max-width: 360px;
    margin: 50 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    background: red;
    height: 30px;
    outline: 1;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 14px;

}

.form button {
    font-family: "Roboto" sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 30px;
    width: 100%;
    border: 0;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,
.form button:active {
    background: #43A047;


}

.form message {
    margin: 15px;
    color: aliceblue;
    font-size: 12px;
}

.form message a {
    color: #4CAF50;
    text-decoration: none;

}

.form .register-form {
    display: none;
}
